.sidebar {
  position: fixed;
  width: 200px;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 5px 20px;
}

.sidebar h1, .sidebar ul, .sidebar ul li, .sidebar ul li a {
  padding: 10px;
  list-style: none;
  color: black;
}

.sidebar h1{
  text-align: center;
}

.sidebar ul li a:active {
  color: #50b1f9;
}

.page-content {
  margin-left: 200px;
}

@media(max-width: 720px){
  .sidebar{
    width: 120px;
  }
}

@media(max-width: 720px){
  .page-content{
    margin-left: 120px;
  }
}

